/* Root font-size scaling */
html {
    font-size: 16px;
    /* Desktop default (>=769px) */
}

@media (max-width: 768px) {
    html {
        font-size: 12px;
        /* Tablet */
    }
}

@media (max-width: 480px) {
    html {
        font-size: 10px;
        /* Mobile */
    }
}

/* Welcome Back Header Styles */
.welcome-back-header {
    margin: 0.25rem;
    /* 4px */
    padding: 1.1rem 0.4rem 2.1rem;
    /* 20px */
    display: flex;
    align-items: center;
    font-family: 'Manrope';
}

.profile-image {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.2);
    /* 2px 8px */
}

.welcome-text {
    color: #ffffff;
    text-align: left;
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
}

.welcome-back {
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.9;
}

.user-name {
    font-size: 1.4rem;
    /* 14px */
    font-weight: 600;
    line-height: 1.125rem;
    /* 18px */
    margin: 0;
}


.profile-section {
    display: flex;
    gap: 0.8rem;

}
